[package]
name = "dssd"
version = "0.2.1"
edition = "2021"

[profile.release]
codegen-units = 1
lto = true
strip = true
panic = "abort"

[dependencies]
dbus-crossroads = "0.5"
dbus = "0.9"
base64 = "0.22"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
